[toolchain]
anchor_version = "0.30.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
flash_loan_receiver = "F1ashLoanRcvrXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.devnet]
flash_loan_receiver = "F1ashLoanRcvrXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.mainnet]
flash_loan_receiver = "F1ashLoanRcvrXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000